/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }

* {
    box-sizing: border-box;
}
.btn-accept, .btn-accept:disabled:hover {
    background-color: #FFF;
    color: #494949;
    font-size: 16px;
    width: 100%;
    min-height: 50px;
    outline: none;
    border: 3px solid #494949;
    cursor: pointer;
}

.btn-accept:disabled:hover {
    cursor: default;
}

.btn-accept:hover {
    background-color: #494949;
    color: #FFF;
    border: 4px solid #494949;
}

.btn-accept:active {
    border: 1px solid white;    
    font-size: 15px;
}
/////input

input.default-input {
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    border: 3px solid #494949;
    padding: 10px;
}

input.default-input:focus {
    background-color: #494949;
    outline: none;
    color: #fff;
}

.default-error {
    color: red;
    display: inline-block;
    margin-top: 5px;
}

label.default-label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin: 15px 0 5px 0;
}
